.StarRating {
    .starIcon {
        fill: none;
        cursor: pointer;
    }

    .normal {
        fill: none;
    }

    .hovered {
        fill: var(--primary-color);
    }

    .selected {
        cursor: auto;
    }
}

.StarRatingRedesigned {
    .starIcon {
        fill: none;
        cursor: pointer;
    }

    .normal {
        fill: none;
    }

    .hovered {
        fill: var(--icon-redesigned);
    }

    .selected {
        cursor: auto;
    }
}
